.bestBoxs {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.bestBoxs .product-image img {
    width: 200px;
}
.best-left,
.best-right {
    display: flex;
    gap: 30px;
}
@media screen and (min-width:1400px) {
    .best-seller-container {
        margin-top: 0px;
    }
}
@media screen and (max-width:500px) {
    .bestBoxs {
        gap: 0px;
        margin-top: 0px;
    }
    .bestBoxs .product-type {
        display: none;
    }
    .bestBoxs .product-image img {
        width: 154px;
    }
    .bestBoxs .product-badges {
        left: 10px;
    }
    .bestBoxs .best-left ,
    .bestBoxs .best-right {
        gap: 17px;
    }
}